<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695929638277-8333m27b8s09234csshleaciun7jam1s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695929638277-8333m27b8s09234csshleaciun7jam1s</string>
	<key>API_KEY</key>
	<string>AIzaSyBnSrK2jDwOm_B6VUWck283p3E0ETjRJno</string>
	<key>GCM_SENDER_ID</key>
	<string>695929638277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.pet-shop-mobile</string>
	<key>PROJECT_ID</key>
	<string>pet-shop-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>pet-shop-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695929638277:ios:1c8c3e6b73dd56b58108ec</string>
	<key>DATABASE_URL</key>
	<string>https://pet-shop-mobile.firebaseio.com</string>
</dict>
</plist>